div#content {
	background-color: lightblue;
	border: 1px solid black;
	width: 500px;
	height: 200px;
	margin-top: 50px;
}

button#btn {
	padding: 10px;
	margin-top: 5px;
}

#person {
	padding: 5px;
}

div#person-content-data {
	background-color: lightblue;
	border: 1px solid black;
	width: 400px;
	height: 200px;
	margin-top: 50px;
}

#person-data {
	padding: 10px;
	margin-top: 5px;
}

div#container {
	background-color: lightblue;
	border: 1px solid black;
	width: 500px;
	height: 200px;
	margin-top: 30px;
}

div#user-data-container {
	background-color: lightblue;
	width: 500px;
	height: 200px;
	border: 1px solid black;
	margin-top: 20px;
}

button#ajax-jquery-btn {
	padding: 10px;
}

div#jquery-data-container, div#jquery-data-container-two, div#jquery-data-container-three, div#jquery-data-container-four {
	background-color: lightblue;
	width: 300px;
	height: 200px;
	border: 1px solid black;
	margin-top: 20px;
}

button#btn-jquery-ajax-test {
	padding: 10px;
	background-color: lightblue;
}

div#jquery-ajax-data-container {
	width: 400px;
	height: 200px;
	background-color: lightblue;
	border: 1px solid black;
	margin-bottom: 50px;
	margin-top: 50px;
}

div#person-info-container {
	width: 400px;
	height: 250px;
	background-color: lightblue;
	border: 1px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
}

select#person-info {
	padding: 10px;
}

table tr td {
	padding: 5px;
	text-align: center;
}

tr.table-head {
	background-color: lightblue;
}

button#btn-sort-id, button#btn-sort-name, button#btn-sort-date {
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div#users-container {
	width: 500px;
	height: 300px;
	/*background-color: lightblue;*/
	border: 1px solid black;
	margin-bottom: 50px;
	margin-top: 50px;
	padding: 10px;
	box-sizing: border-box;
}

div#user-data-content {
	width: 500px;
	height: 270px;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid black;
}

div#user-data-element, div#jq-user-data-element {
	width: 500px;
	height: 500px;
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
}